In [ ]:
import pandas as pd
df=pd.Series([23,3445,35,35])
print(df)

In [ ]:
import pandas as pd
df=pd.read_excel("C:/Users/VMDRE316/Downloads/file_example_XLS_10.xls")
print(df)

In [ ]:
df.to_csv("dec_2022.csv")

In [ ]:
pd.read_csv(r"dec_2022.csv")

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

In [ ]:
df.to_excel("sheet.xlsx")
print(df)

In [ ]:
df.to_csv('sheet.csv')
df

In [ ]:
df=pd.read_excel("C:/Users/VMDRE316/Downloads/file_example_XLS_50.xls")
print(df)

In [ ]:
df.to_csv('file2.csv')
print(df)

In [ ]:
data = {
  "name": ["lakshay", "nitin", "sambit"],
  "age": [23, 28, 21]
}

name_age = pd.DataFrame(data)

print(name_age)

In [ ]:
name_age.to_excel('name_age.xlsx')
name_age

In [ ]:
name_age.to_csv('name_age.csv')
name_age

In [ ]:
data={
  "name": ["lakshay", "nitin", "sambit"],
  "age": [23, 28, 21],
  "state":["Punjab","uttar pradesh","orrisha"]
}
state=pd.DataFrame(data)
state

In [ ]:
state[state['age']==23]

In [ ]:
state[['name','age']][state['age']>20]

In [ ]:
state.to_excel("state.xlsx")
state

In [ ]:
state.to_csv('state.csv')
state

In [ ]:
data={
  "p_id": [100, 101, 102,103],
  "p_name": ["marker", "mouse", "white board","SONY Vaio"],
  "p_family":["stationary","computer","stationary","computer"],
  "price":[25,450,450,35000],
  "cost":[22,350,375,42000],
  "launch_date":["15-jan-08","16-apr-09","20-aug-10","21-sep-10"]
}
product=pd.DataFrame(data)
product

In [ ]:
data={
  "p_id": [100, 101, 102,103],
  "p_name": ["marker", "mouse", "white board","SONY Vaio"],
  "p_family":["stationary","computer","stationary","computer"],
  "price":[25,450,450,35000],
  "cost":[22,350,375,42000],
  "launch_date":["15-jan-08","16-apr-09","20-aug-10","21-sep-10"]
}
product=pd.DataFrame(data)
product

In [ ]:
val2=product[['p_name','price']][(product['p_family']=='stationary')]
val2.max()

In [ ]:
data={
  "p_id": [100, 101, 102,103],
  "p_name": ["marker", "mouse", "white board","SONY Vaio"],
  "p_family":["stationary","computer","stationary","computer"],
  "price":[25,450,450,35000],
  "cost":[22,350,375,42000],
  "launch_date":["15-jan-08","16-apr-09","20-aug-10","21-sep-10"]
}
product=pd.DataFrame(data)
product

In [ ]:
product[product['cost']>250]

In [ ]:
product['profit']=product['price']-product['cost']
product

In [ ]:
product[['p_name','cost','price','profit']]

In [ ]:
product[product['profit']>product['price'].loc[1]]

In [ ]:
product[['p_name']][product['profit']>100]

In [ ]:
product[['p_name']][(product['p_family']!='stationary') & (product['p_family']!='computer')]

In [ ]:
product[['p_name']][product['profit']>product['profit'][product['p_id']==102][2]]

In [ ]:

datatype=product.dtypes
datatype

In [ ]:
product['year']=pd.DatetimeIndex(product['launch_date']).year
product

In [ ]:
product[['p_name']][product['year']==2010]

In [ ]:
product[['p_name']][product['price']==product['price'].max()]

In [ ]:
product[['p_name','cost','price','profit']]

In [ ]:
product['percentage_profit']=product['profit']/product['cost']*100
product

In [ ]:
product[['p_name','cost','price','profit','percentage_profit']]

In [ ]:
df2=product.groupby(['p_name'])
df2

In [ ]:
product[['p_name']][(product['p_family']=='computer') & (product['price']==2000)  | (product['price']==50000)]

In [ ]:
import pandas as pd
city = pd.DataFrame({'city_id': [10, 20, 30], 'city_name': ['Bangalore', 'Chennai', 'Mumbai'],
'city_population': [2367890, 6474836, 78393739]})
city

In [ ]:
branch = pd.DataFrame({'B_id': [500, 501, 502, 503, 504],
                       'B_name': ['BTM Layout', 'Jayanagar', 'Ashok Nagar', 'Mount Road', 'JP Nagar'],
                       'B_address': ['185, Ring road', '44, 15th main', 'Ashoka pillar', 'Nandanam', 'South end circle'],
                       'B_phone': [9786543211, 9765420134, 8896044567, 9976540987, 8800997766],
                       'city_id': [10, 10, 20, 20, 20]})
branch

In [ ]:
import pandas as pd
merge=pd.merge(city,branch,on='city_id')
merge['B_name'][merge['city_name']=='Chennai']
merge

In [ ]:
mer

In [ ]:
mer=city.merge(branch,on='city_id',how='inner')
mer

In [ ]:
val=mer[['B_name']][mer['city_name']=='Chennai']
val

In [ ]:

# city[['city_name']][city['city_population'] > city['city_name'].loc[1]]
# city
# val2=city[['city_name']]
# city['city_name'][
# city['city_name'][city['city_population'] > city['city_name'][city['city_population']='Bangalore']]?
city['city_name'][city['city_population'][city['city_name']=='Bangalore'].loc[0]]

# val2

In [ ]:
import calendar
yy=2012
mm=12
calendar.month(yy,mm)

In [ ]:
import pandas as pd
import getpass
import oracledb

pw = getpass.getpass("Enter password: ")

# con = cx_Oracle.connect('shashank/shashank@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')

conn = oracledb.connect(
    user="dedec22_lakshay",
    password="dedec22_lakshay",
    dsn="orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL")

print("Successfully connected to Oracle Database")

In [ ]:
query = 'select * from country'
df=pd.read_sql(query,conn)
print(df)

In [ ]:

query1='select * from resort'
resort=pd.read_sql(query1,conn)
resort

In [ ]:
query2='select * from customer'
customer=pd.read_sql(query2,conn)
customer

In [ ]:
resort[['RESORT_NAME','COUNTRY_ID']]

In [ ]:
# resort(['RESORT_NAME'].count())|(resort.groupby('COUNTRY_ID'))
resort.query(['RESORT_NAME'].count() or resort.groupby('COUNTRY_ID'))

In [ ]:
import pandas as pd
dates=pd.date_range('2014-02-02','2014-02-05')
dates

In [ ]:
from pandas import Series
temp1=Series(['lakshay','akshay','neetrom','rajeshwari'],index=dates)
temp1

In [ ]:
temp2=Series([12,12,13,18],index=temp1)
temp2

In [ ]:
temp2.mean()

In [ ]:
temp2

In [ ]:
temp3=Series([18,19,20,21],index=temp1)
tempdiff= temp3 - temp2
tempdiff

In [ ]:
tempdiff['lakshay']

In [ ]:
df1=pd.DataFrame({'age':temp2,
                    'age2':temp3})
df1

In [ ]:
df1.age2

In [ ]:
# arthmetic operation in dataframe
df1.age2-df1.age

In [ ]:
# add colum and assign diff value
df1['difference']=tempdiff
df1

In [ ]:
from pandas import Series
temp4=Series(['lakshay','akshay','neetrom','rajeshwari'])
temp4

In [ ]:
# create Bankid series 
bank_id=Series(['A1020','A1020','A1020','A1020','A1020','A1020','A1020','A1020','A1020','A1021','A1021','A1021','A1021','A1021','A1021','A1021','A1021'])
bank_id

In [ ]:
# create account_id series
account_id=Series([' S39403030','S30495345',' S234234432','C34534543',' C34595044','C2304985345',' D934530945','D940404984','D02340494r','S3405935845','S950504840','S94040958','C34095345','C08548494','C88594048',' D9440021','D4954896'])
account_id

In [ ]:
bank_df=pd.DataFrame({'Bank_id':bank_id,
                        'Account_id':account_id})
bank_df

In [ ]:

bank_df['length']=bank_df['Account_id'].apply(len)
bank_df

In [ ]:
bank_df
bank_df.drop(['table_error'],axis=1)
bank_df.drop(['chcek_length'],axis=1)
bank_df

In [ ]:
bank_df

In [ ]:
table_error=pd.DataFrame({'check_length':bank_df['table_error']})
table_error

In [ ]:
bank_df.drop(['chcek_length'],axis=1)

In [ ]:

bank_df2=bank_df.drop(['table_error','chcek_length'],axis=1)

In [ ]:
bank_df['length']

In [ ]:
import numpy as np
conditions=[(bank_df['length']>13) & (bank_df['length']<7),
(bank_df['length']>7) & (bank_df['length']<13)]
value=['error',bank_df['Account_id']]
bank_df2['length_check']=np.select(conditions,value)
bank_df2

In [ ]:


conditions=[~bank_df.Account_id.str.startswith('CSD'),
~bank_df.Account_id.str.startswith('ABEFGHIGKLMNOPQRTUVWXWZ'),]
value=[bank_df['Account_id'],'error']
bank_df2['start_with']=np.select(conditions,value)
bank_df2['start_with']

In [ ]:

d=[]
for i in bank_df["Account_id"]:
    d.append(i[1:])
    
bank_df['vali2']=d
print(bank_df['vali2'])

In [ ]:

conditions3=[bank_df.vali2.str.contains(pat = '[a-z]'),
bank_df.vali2.str.contains('[1-9]')]
value3=['error',bank_df['Account_id']]
bank_df2['contains']=np.select(conditions3,value3)
bank_df2['contains']

In [ ]:

error_values=bank_df2[(bank_df2['contains'] =="error")  |(bank_df2['start_with']=="error")|(bank_df2['length_check']=="error")]
print(error_values["contains"])

In [ ]:
non_error_values=bank_df2[(bank_df2['contains'] !="error") & (bank_df2['start_with'] !="error") & (bank_df2['length_check'] !="error")]
print(non_error_values)

In [ ]:

bank_df2['account_type']=bank_df2['Account_id'].astype(str).str[0]
bank_df2['account_type']

In [ ]:
bank_df2['account_number']=bank_df2['Account_id'].str[1:]
bank_df2['account_number']

In [ ]:
target_account=pd.DataFrame({
                        "bank_id":bank_df2['Bank_id'],
                        "account_type":bank_df2['account_type'],
                        "account_number":bank_df2["account_number"]

})
target_account

In [319]:
bank_error=pd.DataFrame({
                    "Seq_no":range(332,332+len(error_values)),
                    "record":error_values['Account_id'],
                    "error":error_values['contains']
})
bank_error

   Seq_no      record  error
8     332  D02340494r  error

In [321]:
bank_error.to_csv('error_file.csv')

In [ ]:
# duplicate not allowed compare 3 three table
# reject data store into another df
# nan remove
import numpy as np
# duplicate_df=np.where((loan_customer['cust_phone']==saving_cust['phone']))
# duplicate_df
# matching_data_from_three_table=pd.concat([loan_customer[['cust_f_nm','cust_dob']],saving_cust[['cust_nm','dob']],credit_customer[['NAME','DOB']]]).drop_duplicates()
# matching_data_from_three_table
# merfe_d=pd.merge(pd.merge(loan_cust,saving_cust,on='phone'),credit_cust,on='phone')
# merfe_d
# saving_customer.reset_index(drop=False)
# saving_customer

# # Loan_cust= loan_cust.reset_index(drop=False)
# # Loan_cust
# # Credit=credit_cust.reset_index(drop=False)
# # Credit

# # Credit_cust=Credit.rename(columns={'NAME':'','ID_'})
# # Credit_cust['cust_id']=Credit_cust['cust_id'].replace(15,105)
# # Credit_cust.loc[2,'cust_id']=103
Credit_c=Credit_cust.rename(columns={'phone':'PHONE'})
# Credit_cust
# Loan_cust
# saving_cus=saving_customer.rename(columns={'phone':'cust_phone'})
# saving_cus
# saving_c
# Loan_c=Loan_cust.drop('cust_nm',axis=1)
# Loan_cus=Loan_c.rename(columns={'crt_dt':'credit_date'})
# # # Loan_cus
# save_cc=saving_customer.rename(columns={'':'customer_city'})

# save_cc


# dfs = [Loan_cus, save_cc, Credit_c]
# dfs = [df.set_index('cust_id') for df in dfs]
# merge_ta=dfs[0].join(dfs[2],on='cust_id',how='outer',lsuffix='_left', rsuffix='_right')
# merge_ta

In [2]:
import pandas as pd
import getpass
import oracledb


pw = getpass.getpass("Enter password: ")

# con = cx_Oracle.connect('shashank/shashank@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')

conn = oracledb.connect(
    user="dedec22_lakshay",
    password="dedec22_lakshay",
    dsn="orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL")
   

print("Successfully connected to Oracle Database")

ImportError: cannot import name constants