In [ ]:
import pandas as pd
df=pd.Series([23,3445,35,35])
print(df)

In [ ]:
stu=pd.DataFrame({'sid':['1','2','3'],
                    'sam':['34','321','89']
})
stu

In [ ]:
import pandas as pd
dates=pd.date_range('2014-02-02','2015-03,05')
dates

In [ ]:
se=stu.iloc[1]
se

In [ ]:
print(pd.__version__)

In [11]:
import numpy as np 
a2=np.array(["hi"])
print(a2*5)

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U2'), dtype('int32')) -> None

In [ ]:
# shorthand to repeat a  sequence
a3=np.array([1]*10)
a3

In [ ]:
a4=np.array(range(10))
a4

In [ ]:
np.arange(0,10)

In [ ]:
# for i in range(2, (Number//2 + 1)):
a5=np.arange(0,100)
# for i in a5:
#     for c in range(2, (i//2 + 1)):
#         print(c)
# #     for j in a5:
# #         if i%j==0:
# # print(a5)
if a5/2 == 0:
    print(a5)

In [ ]:
np.linspace(0,10,11)

In [ ]:
last_element=100
for i in last_element:
    key=i+1
    if i / key ==0:
        print(i)
        

a6=np.arange(0,10,i)
a6

In [ ]:
m=np.arange(0,20).reshape(5,4)
m

In [3]:
import pandas as pd
df=pd.DataFrame(pd.date_range('1/1/2021','1/31/2021'),columns=['date'])
df['year']=df['date'].dt.year
df['quarer']=df['date'].dt.quarter
df['month']=df['date'].dt.month
df['day']=df['date'].dt.day
df['weekday']=df['date'].dt.weekday
df['month_name']=df['date'].dt.month_name(locale='English')
df['week_name']=df['date'].dt.day_name(locale='English')
df

         date  year  quarer  month  day  weekday       month_name  week_name
0  2021-01-01  2021       1      1    1        4  À¤œà¤¨à¤µà¤°à¥€     Friday
1  2021-01-02  2021       1      1    2        5  À¤œà¤¨à¤µà¤°à¥€   Saturday
2  2021-01-03  2021       1      1    3        6  À¤œà¤¨à¤µà¤°à¥€     Sunday
3  2021-01-04  2021       1      1    4        0  À¤œà¤¨à¤µà¤°à¥€     Monday
4  2021-01-05  2021       1      1    5        1  À¤œà¤¨à¤µà¤°à¥€    Tuesday
5  2021-01-06  2021       1      1    6        2  À¤œà¤¨à¤µà¤°à¥€  Wednesday
6  2021-01-07  2021       1      1    7        3  À¤œà¤¨à¤µà¤°à¥€   Thursday
7  2021-01-08  2021       1      1    8        4  À¤œà¤¨à¤µà¤°à¥€     Friday
8  2021-01-09  2021       1      1    9        5  À¤œà¤¨à¤µà¤°à¥€   Saturday
9  2021-01-10  2021       1      1   10        6  À¤œà¤¨à¤µà¤°à¥€     Sunday
10 2021-01-11  2021       1      1   11        0  À¤œà¤¨à¤µà¤°à¥€     Monday
11 2021-01-12  2021       1      1   12        1  À¤œà¤¨à¤µà¤°à¥€    Tuesday
12 2021-01-13  2021       1      1   13        2  À¤œà¤¨à¤µà¤°à¥€  Wednesday
13 2021-01-14  2021       1      1   14        3  À¤œà¤¨à¤µà¤°à¥€   Thursday
14 2021-01-15  2021       1      1   15        4  À¤œà¤¨à¤µà¤°à¥€     Friday
15 2021-01-16  2021       1      1   16        5  À¤œà¤¨à¤µà¤°à¥€   Saturday
16 2021-01-17  2021       1      1   17        6  À¤œà¤¨à¤µà¤°à¥€     Sunday
17 2021-01-18  2021       1      1   18        0  À¤œà¤¨à¤µà¤°à¥€     Monday
18 2021-01-19  2021       1      1   19        1  À¤œà¤¨à¤µà¤°à¥€    Tuesday
19 2021-01-20  2021       1      1   20        2  À¤œà¤¨à¤µà¤°à¥€  Wednesday
20 2021-01-21  2021       1      1   21        3  À¤œà¤¨à¤µà¤°à¥€   Thursday
21 2021-01-22  2021       1      1   22        4  À¤œà¤¨à¤µà¤°à¥€     Friday
22 2021-01-23  2021       1      1   23        5  À¤œà¤¨à¤µà¤°à¥€   Saturday
23 2021-01-24  2021       1      1   24        6  À¤œà¤¨à¤µà¤°à¥€     Sunday
24 2021-01-25  2021       1      1   25        0  À¤œà¤¨à¤µà¤°à¥€     Monday
25 2021-01-26  2021       1      1   26        1  À¤œà¤¨à¤µà¤°à¥€    Tuesday
26 2021-01-27  2021       1      1   27        2  À¤œà¤¨à¤µà¤°à¥€  Wednesday
27 2021-01-28  2021       1      1   28        3  À¤œà¤¨à¤µà¤°à¥€   Thursday
28 2021-01-29  2021       1      1   29        4  À¤œà¤¨à¤µà¤°à¥€     Friday
29 2021-01-30  2021       1      1   30        5  À¤œà¤¨à¤µà¤°à¥€   Saturday
30 2021-01-31  2021       1      1   31        6  À¤œà¤¨à¤µà¤°à¥€     Sunday

In [ ]:
# set_index
set_index_df=df.set_index('date')
set_index_df

In [ ]:
import pandas as pd
import numpy as np

data = {'first_set_of_numbers':  [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
        'second_set_of_numbers': [11,12,np.nan,13,14,np.nan,15,16,np.nan,np.nan,17,np.nan,19,np.nan],
        'third_set_of_numbers': [20,21,22,23,np.nan,24,np.nan,26,27,np.nan,np.nan,28,29,30]
       }
nan_df = pd.DataFrame(data)

nan_df

In [ ]:
fill_df=nan_df.fillna("no data")
print(fill_df)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
auto_fill=nan_df.ffill(axis=0)
auto_fill

In [ ]:
from sklearn.preprocessing import MinMaxScaler
back_auto_fill=nan_df.bfill(axis=0)
back_auto_fill

In [ ]:
interpolate_df=nan_df.interpolate(method ='linear')
interpolate_df

In [ ]:
drop_df=nan_df.dropna()
drop_df

In [ ]:
drop_df_thresh=nan_df.dropna(thresh=3)
drop_df_thresh